<div class="container">
    <div class="container-inner inner-default">
        <h2 class="theme-title">みんなのほしいものランキング</h2>
        <% @ranking.each_with_index do |(item, count), rank| %>
        <div class="rank-box rank-<%= rank+1 %>">
            <p class="col-1"><%= rank+1 %>位</p>
            <div class="col-2">
                <p class="p-image"><%= image_tag(item["large_image"].gsub('?_ex=128x128', '') , alt: item['title']) %></p>
            </div>
            <div class="col-3">
                <p class="p-title"><%= item["title"] %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>